rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow write: if false;
      allow read: if request.auth.uid != null;
    }
    match /conversations/{conversation}/messages/{document=**} {
    	allow create, delete: if false;
    	allow read, update: if request.auth.uid != null && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversation)).data.users;
    }
    match /conversations/{document=**} {
    	allow create, delete: if false;
    	allow read, update: if request.auth.uid != null && request.auth.uid in resource.data.users;
    }
  }
}